<div class="chat-outer-container">
    <% if (login){ %>
        <aside class="online">
            <ul>
                <li data-id="<%- userId %>" data-name="<%= userName %>" class="self">
                    <label>
                        <svg class="status <%= CHAT.Config.status.online[0] %>"><use xlink:href="#<%= CHAT.Config.status.online[0] %>"></use></svg>
                        <%= userName %>
                        <select class="status-change">
                            <% CHAT.Config.status.online.forEach(function(st, i){ %>
                                <option value="<%= st %>" <%= i === 0 ? 'selected' : '' %>><%= CHAT.Labels.status[st] %></option>
                            <% }); %>
                        </select>
                    </label>
                </li>
                <% users.forEach(function(user){ %>
                    <% if (userId !== user.id){ %>
                        <li data-id="<%- user.id %>" data-name="<%= user.name %>" class="<% if (userId === user.id){ %>hidden<% } %>">
                            <label>
                                <input class="user-select" type="checkbox" value="<%- user.id %>" />
                                <svg class="status <%= CHAT.Config.status.offline[0] %>"><use xlink:href="#<%= CHAT.Config.status.offline[0] %>"></use></svg>
                                <span class="name"><%= user.name %></span>
                                <span class="idle-timer"></span>
                            </label>
                        </li>
                    <% } %>
                <% }); %>
            </ul>
            <button class="start"><%= CHAT.Labels.action.chatStart %></button>
        </aside>
        <section class="chat-container">
            <div class="chat cloneable" data-room="">
                <div class="border-top">
                    <span class="drag-resize resize-lt"></span>
                    <span class="move"></span>
                    <span class="drag-resize resize-rt"></span>
                </div>
                <div class="bar">
                    <span class="users" data-active="false">
                        <span class="user-item cloneable" data-id="">
                            <svg class="status"><use xlink:href="#<%= CHAT.Config.status.offline[0] %>"></use></svg>
                            <span class="name"></span>
                            <% if (CHAT.Config.room.forceLeave){ %>
                                <span title="<%= CHAT.Labels.action.forceLeave %>">
                                    <svg class="throw"><use xlink:href="#cross"></use></svg>
                                </span>
                            <% } %>
                            <span>
                                <svg class="dropdown"><use xlink:href="#triangle"></use></svg>
                            </span>
                        </span>
                    </span>
                    <span title="<%= CHAT.Labels.action.leave %>">
                        <svg class="window-icon close"><use xlink:href="#cross"></use></svg>
                    </span>
                    <span class="click-resize">
                        <span class="toggle" title="<%= CHAT.Labels.action.resize.toggle %>">
                            <svg class="window-icon"><use xlink:href="#square"></use></svg>
                        </span>
                        <ul class="actions">
                            <li data-resize="box"><%= CHAT.Labels.action.resize.box %></li>
                            <li data-resize="container"><%= CHAT.Labels.action.resize.container %></li>
                            <li data-resize="window"><%= CHAT.Labels.action.resize.window %></li>
                            <li data-resize="screen"><%= CHAT.Labels.action.resize.screen %></li>
                        </ul>
                    </span>
                    <span title="<%= CHAT.Labels.action.minimize %>">
                        <svg class="window-icon minimize"><use xlink:href="#line"></use></svg>
                    </span>
                    <!--
                    <span title="<%= CHAT.Labels.action.sound %>">
                        <svg class="window-icon minimize"><use xlink:href="#speaker"></use></svg>
                    </span>
                    <span class="settings">
                        <span title="<%= CHAT.Labels.action.settings %>">
                            <svg class="window-icon"><use xlink:href="#cog"></use></svg>
                        </span>
                        <ul class="actions">
                            <li><%= CHAT.Labels.action.minimize %></li>
                            <li><%= CHAT.Labels.action.resize.box %></li>
                            <li><%= CHAT.Labels.action.resize.container %></li>
                            <li><%= CHAT.Labels.action.resize.window %></li>
                            <li><%= CHAT.Labels.action.resize.screen %></li>
                            <li><%= CHAT.Labels.action.sound %></li>
                        </ul>
                    </span>
                    -->
                    <% if (CHAT.Config.room.forceJoin){ %>
                        <button class="add-user hidden"><%= CHAT.Labels.action.forceJoin %></button>
                    <% } %>
                </div>
                <div class="list-area">
                    <div class="system-message">
                        <div class="error hidden">
                            <div class="error-list"></div>
                            <svg class="error-close"><use xlink:href="#cross"></use></svg>
                        </div>
                        <div class="progress hidden">
                            <svg class="icon"><use xlink:href="#load"></use></svg>
                            <span class="text"></span>
                        </div>
                        <div class="local-notification hidden">
                            <svg class="arrow arrow-left"><use xlink:href="#arrow-down"></use></svg>
                            <span class="text"></span>
                            <svg class="arrow arrow-right"><use xlink:href="#arrow-down"></use></svg>
                        </div>
                    </div>
                    <% if (CHAT.Config.fileTransfer.allowed && CHAT.Config.fileTransfer.dragndrop){ %>
                        <div class="drop-file"><%= CHAT.Labels.legend.dropFile %></div>
                    <% } %>
                    <ul class="list"></ul>
                </div>
                <div class="form">
                    <div class="indicator"></div>
                    <textarea class="textarea" placeholder="<%= CHAT.Labels.legend.message %>"></textarea>
                    <% if (CHAT.Config.fileTransfer.allowed){ %>
                        <div class="fileuploader" title="<%= CHAT.Labels.action.sendFile %>">
                            <input type="file" class="file" <% if (CHAT.Config.fileTransfer.multiple){ %>multiple<% } %> />
                            <svg class="trigger"><use xlink:href="#picture"></use></svg>
                        </div>
                    <% } %>
                    <% if (CHAT.Config.textTransfer.imageReplacement.allowed){ %>
                        <span class="image-replacement">
                            <span class="toggle" title="<%= CHAT.Labels.action.smiley %>">
                                <svg class="smiley"><use xlink:href="#smiley"></use></svg>
                            </span>
                            <ul class="images">
                                <% for (let str in CHAT.Config.textTransfer.imageReplacement.images){ %>
                                    <li data-string="<%- str %>"><img src="<%= CHAT.Config.textTransfer.imageReplacement.images[str] %>" /></li>
                                <% } %>
                            </ul>
                        </span>
                    <% } %>
                    <% if (CHAT.Config.textTransfer.sendMode.allowed){ %>
                        <div class="submitmode">
                            <label>
                                <input class="send-switch" type="checkbox" value="1"
                                    <% if (CHAT.Config.textTransfer.sendMode.default === 'enter'){ %>checked<% } %>
                                />
                                <%= CHAT.Labels.legend.sendMode %>
                            </label>
                            <button class="send <% if (CHAT.Config.textTransfer.sendMode.default === 'enter'){ %>hidden<% } %>">
                                <%= CHAT.Labels.action.sendMessage %>
                            </button>
                        </div>
                    <% } %>
                </div>
                <div class="border-bottom">
                    <span class="drag-resize resize-lb"></span>
                    <span class="drag-resize resize-rb"></span>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
    <% } else { %>
        <%= CHAT.Labels.legend.haveToLogIn %>
    <% } %>
</div>
