<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <script>
            <% RegExp.prototype.toJSON = RegExp.prototype.toString; %>
            var SERVER = {
                domain : '<%- layout.DOMAIN %>',
                wsport : '<%- layout.WSPORT %>',
                userData : {
                    id : Number('<%- userId ? userId : 0 %>'),
                    name : '<%- userName %>'
                }
            };
            var CHAT = <%- JSON.stringify(CHAT) %>;
        </script>
        <script src="/js/libs/jquery.min.js"></script>
        <script src="/js/hd/hd.js"></script>
        <script src="/js/hd/hd.utility.js"></script>
        <script src="/js/hd/hd.math.js"></script>
        <script src="/js/hd/hd.dom.js"></script>
        <script src="/js/hd/hd.datetime.js"></script>
        <script src="/js/hd/hd.datetime.timer.js"></script>
        <script src="/js/hd/hd.log.js"></script>
        <% if (page === 'chat'){ %>
            <link rel="stylesheet" href="/css/chat.css" />
            <script src="/js/libs/jquery.idle-timer.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/compress/lzma_worker-min.js"></script>
            <script src="/js/chat/utility.js"></script>
            <script src="/js/chat/filetransfer.js"></script>
            <script src="/js/chat/methods.js"></script>
            <script src="/js/chat/events.client.js"></script>
            <script src="/js/chat/events.server.js"></script>
            <script src="/js/chat/controller.js"></script>
            <title><%- CHAT.Config.defaultTitle %></title>
        <% }else if (page === 'videochat'){ %>
            <link rel="stylesheet" href="/css/videochat.css" />
            <!-- <script src="/js/videochat/webcam.js"></script> -->
            <title>Videochat</title>
        <% }else{ %>
            <title>CHAT app</title>
        <% } %>
    </head>
    <body>
        <%- include(layout.publicPath + "/images/icons.svg") %>

        <div id="container">

            <header>
                <nav>
                    <ul>
                        <% layout.menu.forEach(function(menupoint){ %>
                            <li><a href="<%- menupoint.url %>"><%- menupoint.text %></a></li>
                        <% }); %>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </header>

            <h1 class="game">Chat</h1>

            <% if (!login){ %>
                <div class="login">
                    <form method="post" action="/login">
                        <% if (loginMessage){ %>
                            <label class="error"><%- loginMessage %></label>
                        <% } %>
                        <label>
                            <span>Felhasználónév:</span>
                            <input type="text" name="username" value="" />
                        </label>
                        <label>
                            <span>Jelszó:</span>
                            <input type="password" name="password" value="" />
                        </label>
                        <input class="submit" type="submit" name="submit" value="Belépés" />
                    </form>
                    <div class="clear"></div>
                </div>
            <% }else{ %>
                <div class="login">
                    Üdvözöljük, <strong><%- userName %></strong>
                    <a href="/logout">Kijelentkezés</a>
                </div>
            <% } %>

            <%- include(page) %>

            <footer>
                <a class="html5logo" href="http://www.w3.org/html/logo/">
                    <img src="https://www.w3.org/html/logo/badge/html5-badge-h-connectivity-css3-device-multimedia-performance-semantics.png" width="293" height="64" alt="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Device Access, Multimedia, Performance &amp; Integration, and Semantics" title="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Device Access, Multimedia, Performance &amp; Integration, and Semantics" />
                </a>
            </footer>

        </div>
        <% if (page === 'videochat'){ %>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/libs/adapter.js"></script>
            <script src="/js/videochat/main05.js"></script>
        <% } %>
    </body>
</html>
